* {
  /* Style */
  background-color: #fff;
}

article>h2 {
  /* Layout */
  text-align: center;
  padding: 2em;
}

/* Flex container **********************************************************/
.comment {
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  margin-bottom: 0.5em;
}

.left-side {
  display: flex;
  padding-top:26px;
  padding-right: 26px;
  flex-basis: 10%;
  justify-content: right;
  align-items: flex-end;
}

.right-side {
  display: flex;
  padding-top:26px;
  padding-left: 26px;
  flex-basis: 10%;
  justify-content: left;
  align-items: flex-end;
}

.left-side>img, .right-side>img{
  width: 3.5em;
}

.item-comment {
  /* Layout */
  padding: 5px 5px 15px 5px;
  flex: 70%;
  text-align: center;
  border: 2px solid;
  border-radius: 1em;
  position: relative;

  /* Style */
  background-color: #0597F2;
}

.left-comment::before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid black;
  border-bottom: 13px solid transparent;
}

.right-comment::before {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 26px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-left: 26px solid black;
  border-bottom: 13px solid transparent;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .comment{
    justify-content:space-between;
  }

  .item-comment {
    flex-basis: 100%;
    order: 1;
  }

  .left-side {
    order: 2;
    flex-basis: 50%;
    justify-content: left;
    max-width: 160px;
  }

  .right-side {
    order: 3;
    flex-basis: 50%;
    max-width: 160px;
    justify-content: flex-end;
  }

  .left-comment::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 26px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-top: 26px solid black;
    border-right: 13px solid transparent;
  }

  .right-comment::before {
    content: "";
    position: absolute;
    top: 100%;
    left:90%;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-top: 26px solid black;
    border-right: 13px solid transparent;
  }
}
