/* 
--------------
THIRD CARD CSS
--------------
*/

/* Layer alignment and hover rules for the property card */
.box-03 {
    position: relative;
    height: 215px;
    width: 298px;
}
.layer-top-03 {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
}
.layer-bottom-03 {
    position: absolute;
    top: 19px;
    left: 18px;
}
/* Top layer rules */
.neon {
    background-origin: border-box;
    height: 215px;
    width: 298px;
    position: relative;
    /* box-shadow:  0px 0px 20px 10px var(--box-shadow-pink); */
    /* border-radius: 10px 15px 10px 10px; */
    background-image: url(../img/neon.png);
    filter: saturate(4) hue-rotate(300deg);
    background-size: 298px;
}
.property-card-box-shadow-03 {
    box-shadow: 0px 0px 20px 10px var(--box-shadow-orange);
    filter: saturate(4);
}
.property-card-03 {
    height: 178px;
    width: 263px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    /* border-radius: 10px 10px 10px 10px; */
    overflow: hidden;
}
/* Top Half of card, image. */
.property-image-03 {
    width: 298px;
    height: 6em;
    padding: 1em 2em;
    position: absolute;
    top: 0px;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url(../img/crash2.jpeg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
}
.img3 {
    background-image: url(../img/mini.png);
    background-position: top;
    filter: saturate(2);
}
/* Bottom Card Section */
.property-description-03 {
    background-color: var(--property-description-bg-color);
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0em;
    transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align: center;
}
/* Property Cards Hover States */
.property-card-03:hover .property-description-03 {
    height: 0em;
    padding: 0px 1em;
}
.property-card-03:hover .property-image-03 {
    height: 18em;
}
.property-card-03:hover {
    cursor: pointer;
}