/*CSS for web layout*/
/* Variables, mainly for color patterns */

/* General basic rules ********************************************************/
* {
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
}

/* header rules ***************************************************************/
#logo{
  /* #logo must get dimensions from .bigLogo or .littleLogo*/

  /*position*/
  position: fixed;
  top:10px;
  left:30px;

  z-index: 1;
  display: flex;
  justify-content: center;
  align-content: center;

}

.bigLogo{
  /*Diemnsions*/
  width: 10vw;
  min-width: 5em;
  height: 10vw;
  min-height: 5em;
}

.littleLogo{
  /*Dimensions*/
  width: 5em;
  height: 5em;
}

#banner{
  /*Dimensions*/
  width: 100%;
  height: 150px;

}

/* nav rules ******************************************************************/

nav{
  /*Diemnsions*/

  /*position*/
  position: sticky;
  top:0px;

  /*Clear #logo float*/
  clear:both;
}

nav li{
  display: inline-block;
}

/* main rules *****************************************************************/

.parrilla{
  display: grid;
  grid-template-areas:
    'izda centro dcha';
  grid-template-columns: 200px, 1fr, 200px;
}


#talkbubble {
  width: 120px;
  height: 500px;
  background: red;
  grid-area: centro;
  position: relative;
  left:100px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
#talkbubble:before {
  content: "";
  position: absolute;
  right: 100%;
  bottom: 40px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid red;
  border-bottom: 13px solid transparent;
}
