/* Variables, mainly for color patterns */
:root {
  --bg-color: #000000 ; /* #005c47 #f59524 */
  --header-bg-color: #b8632a; /* #01ad4b; */
  --grid-container-bg-color: #ffee0b; /* #d2d931; */
  --box-shadow-pink: #ff61ab;
  --box-shadow-red: #ee1c25;
  --box-shadow-orange: #b56727;
  --box-shadow-cyan: #1cabee;
  --property-description-bg-color: #e2e2e5;
}
/* General basic rules */
* {
    font-family: "Helvetica", "Arial";
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* Particular rules for every section */
#header { 
  grid-area: header;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: center;
}
#main { 
  grid-area: main;
  padding: 25px 0px;
  font-size: smaller;
  background-color: var(--bg-color);
}
#footer { 
  grid-area: footer;
  background-image: url(../img/footer.png);
  background-size: 31px;
}
#content-cards {
  display: flex;
  justify-content: space-evenly;
}
/* Just playing a bit with the temporal logo, WIP */
.logo {
  filter:saturate(8);
}
.grid-container {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-rows: auto 1fr auto;
  grid-gap: 15px;
  background-color: var(--grid-container-bg-color);
  padding: 12px;
}



/* .merge { 
  background-repeat: no-repeat, no-repeat;
  background-image: url("../img/crash.jpeg"), url("../img/crash2.jpeg");
  background-blend-mode: screen; 
} */