/* Variables, mainly for color patterns */

/* General basic rules ********************************************************/
* {
  box-sizing:border-box;
  margin: 0px;
  padding: 0px;
}

/* header rules ***************************************************************/
#logo{
  /* #logo must get dimensions from .bigLogo or .littleLogo*/

  /*position*/
  position: fixed;
  top:0px;
  left:0px;
  margin:20px;
  z-index: 1;
  /*aesthetics*/
  background-color: #05F240;
  border-radius: 50%;
  transition: all .5s ease;
}

.bigLogo{
  /*Diemnsions*/
  width: 10em;
  height: 10em;
}

.littleLogo{
  /*Dimensions*/
  width: 5em;
  height: 5em;
}

#banner{
  /*Dimensions*/
  width: 100%;
  height: 50px;
  /*aesthetics*/
  background-color: #F20505;
}

/* nav rules ******************************************************************/

nav{
  /*Diemnsions*/

  /*position*/
  position: sticky;
  top:0px;

  /*aesthetics*/
  overflow: hidden;
  background-color: #049DD9;

  /*Clear #logo float*/
  clear:both;
}

/* main rules *****************************************************************/

#bigdaddy{
  /*Dimensions*/
  width: 750px;
  height: 300px;
  overflow: hidden;

  /*position*/
  position: relative;
  margin: 0px auto;
  margin-top: 50px;

  /*aesthetics*/
  background-color: black;
  background-size: 750px;

  /*fx*/
  transition: all .5s ease-out;

}

#bigdaddy:hover{
  background-size: 1500px
}

.leftdaddy, .rightdaddy{
  /*Dimensions*/
  width: 430px;
  height: 300px;

  /*fx*/
  transition: all .5s ease-out;
  transform: skewX(20deg);
}

.leftdaddy{
  /*aesthetics*/
  background-color: red;
  position: absolute;
  top:0px;
  left:-55px;
}

.rightdaddy{
  /*aesthetics*/
  background-color: green;
  position: absolute;
  top:0px;
  right:-55px;
}

.leftdaddy:hover, .rightdaddy:hover{
  width:750px;
  z-index: 1;
}

.box{
  margin: 100px;
  width:100px;
  height: 100px;
  background-color: black;
  color: white;
  transform: skewX(-20deg);
}
